name = "yatiworker"
main = "src/index.js"
compatibility_date = "2026-02-13"

[triggers]
crons = ["* * * * *"]

[[kv_namespaces]]
binding = "YATI_KV"
id = "28fd8f5831ea4ce3afd26bdaaa29990b"

[observability.logs]
enabled = true
